.element {
  color: #6B6C6F;
  text-align: center;
  height: 45px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  flex-shrink: 0;
}
.line {
  width: 40px;
  margin: 0 10px;
  height: 1px;
  background-color:#6B6C6F;
  flex-shrink: 0;
}
.active {
  border-bottom: 4px solid #1665D8;
}
.filled {
  font-weight: bold;
}
.visited {
  color: #3E3F42;
}
.container {
  width: 90%;
  padding: 0;
}
.elements {
  max-width: 80%;
  overflow: scroll;
}