.element {
  color: #6B6C6F;
  text-align: center;
  height: 45px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}
.line {
  width: 40px;
  margin: 0 10px;
  height: 1px;
  background-color:#6B6C6F;
}
.active {
  border-bottom: 4px solid #1665D8;
  cursor: pointer;
}
.filled {
  font-weight: bold;
}
.visited {
  color: #3E3F42;
  cursor: pointer;
}
